<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
<table cellspacing="1" border="5" cellpadding="7">

    <tr>
        <th><h3>id</h3></th>
        <th><h3>model</h3></th>
        <th><h3>color</h3></th>

    </tr>
    <th:block th:each="car : ${carsFromList}">
        <tr>
            <td th:text="${car.id}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>